.statistics {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.img-h-40 {
	height: 40px;
}
.statistics li {
	flex: auto;
	flex-grow: 0;
	margin-right: 35px;
	padding-right: 35px;
	border-right: 1px solid #e0e0e0;
}
.statistics li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}
.statistics li span, .statistics li strong {
	display: block;
	margin: 0;
	padding: 0;
}
.statistics li strong {
	font-weight: 600;
	color: #333;
	font-size: 28px;
	margin-bottom: 2px;
}
.statistics li span {
	font-weight: 300;
	color: #888;
	font-size: 18px;
}
.site-blocks-cover.overlay:before {
	background: rgba(232, 232, 232, 0.4);
}
.site-blocks-cover p.slogan {
	color: #888;
	line-height: 1.5;
}
.site-blocks-cover h1 {
	color: #28a745;
}
.site-navbar-wrap {
	padding: 0px 0;
	border-bottom: 1px #BBBBBB;
}
.bg-primary {
	background-color: #28a745!important
}
.header-bg {
	background-image: linear-gradient(150deg, #28a745, #0e500d);
	background-repeat: repeat-x;
}
.nav-custom .nav-link {
	color: rgba(74, 79, 85, .8);
	font-size: 1.42188rem;
	font-weight: 300;
	line-height: 1.5;
	padding: .75rem;
	border-bottom: 2px solid transparent;
	border-radius: 0;
	transition: .3s;
	margin-bottom: -1px;
	margin-top: -1px;
}
.nav-custom .nav-link.active {
	border-bottom-color: #28A74A;
	color: #28A74A;
}
.nav-custom .nav-link:hover {
	color: #28A74A;
}
.alert {
	position: relative;
	font-weight: 400;
	color: #fff;
	border: none
}
.alert a, .alert .alert-link {
	color: inherit;
	font-weight: inherit;
	box-shadow: 0 1px 0 currentColor;
	transition: box-shadow .3s
}
.alert a:hover, .alert .alert-link:hover {
	box-shadow: 0 0 0
}
.alert .close {
	color: inherit;
	transition: all .4s;
	height: 30px;
	width: 30px;
	padding: 0;
	background: none;
	position: absolute;
	top: 50%;
	border-radius: 50%;
	transform: translateY(-50%);
	right: 10px;
	text-shadow: none;
	opacity: .7
}
.alert .close:not(:disabled):not(.disabled):focus, .alert .close:not(:disabled):not(.disabled):hover, .alert .close:hover, .alert .close:focus {
	color: currentColor;
	box-shadow: none;
	outline: none;
	opacity: 1
}
.alert .close:after {
	position: absolute;
	font-family: 'icomoon';
	content: '\f00d';
	top: 0;
	left: 0;
	color: currentColor;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	width: 100%
}
.alert .close span {
	display: none
}
.alert-xs {
	padding: 5px 12px;
	font-size: 11px;
	line-height: 18px;
	text-transform: none;
	letter-spacing: 0.025em
}
.alert-center {
	text-align: center
}
.alert-primary {
	color: #222e41;
	background: #9fb1cd
}
.alert-primary .close {
	background: #7791b8
}
.alert-primary-alt {
	background: #455e84
}
.alert-primary-alt .close {
	background: #2b3a52
}
.alert-secondary {
	color: #000;
	background: #7796cf
}
.alert-secondary .close {
	background: #3f66b1
}
.alert-secondary-alt {
	background: #101a2d
}
.alert-secondary-alt .close {
	background: #000
}
.alert-success {
	color: #00b975;
	background: #cdffed
}
.alert-success .close {
	background: #06ffa4
}
.alert-success-alt {
	background: #00d285
}
.alert-success-alt .close {
	background: #009f65
}
.alert-danger {
	color: #ff6868;
	background: #ffeded
}
.alert-danger .close {
	background: #ffcece
}
.alert-danger-alt {
	background: #ff6868
}
.alert-danger-alt .close {
	background: #e80000
}
.alert-info {
	color: #1babfe;
	background: #cdecff
}
.alert-info .close {
	background: #81d0fe
}
.alert-info-alt {
	background: #1babfe
}
.alert-info-alt .close {
	background: #0171b2
}
.alert-warning {
	color: #cc9a00;
	background: #fff3cc
}
.alert-warning .close {
	background: #ffd44d
}
.alert-warning-alt {
	background: #ffc100
}
.alert-warning-alt .close {
	background: #cc9a00
}
.alert-light {
	color: #758698;
	background: #e7eaed
}
.alert-light .close {
	background: #afb9c4
}
.alert-light-alt {
	background: #758698
}
.alert-light-alt .close {
	background: #475360
}
.alert-dark {
	color: #495463;
	background: #e1e4e9
}
.alert-dark .close {
	background: #9aa6b5
}
.alert-dark-alt {
	background: #495463
}
.alert-dark-alt .close {
	background: #1e2228
}
.alert-box {
	text-align: center;
	border-radius: 4px;
	padding: 15px;
	display: block;
	border: 1px solid;
	margin-bottom: 30px
}
.alert-txt {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 12px
}
.alert-txt .fa, .alert-txt .iconfont, .alert-txt [class*=fa-] {
	margin-right: 10px;
	line-height: 36px;
	width: 36px;
	border-radius: 50%;
	text-align: center;
	background: #f2b2a7;
	color: #af4038;
	flex-shrink: 0
}
@media (min-width: 768px) {
	.alert-box {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center
	}
	.alert-txt {
		padding-bottom: 0;
		font-size: 14px;
		justify-content: flex-start
	}
}
.tiny {
	padding: 15px 15px 15px 45px;
	border-radius: 4px;
	position: relative;
	line-height: 1.4
}
.tiny-no-icon {
	padding: 15px
}
.tiny-no-icon.tiny-lg {
	padding: 15px 25px
}
.tiny [class*=fa] {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	font-size: 11px;
	width: 44px;
	text-align: center;
	line-height: inherit
}
.tiny p, .tiny .tiny-text {
	font-size: 11px !important;
	line-height: inherit;
	display: block
}
.tiny-plane {
	padding: 0 0 0 18px;
	background: transparent !important
}
.tiny-plane [class*=fa] {
	top: 0;
	line-height: 14px;
	transform: translateY(1px);
	width: 18px;
	text-align: left
}
.tiny-light p, .tiny-light .tiny-text {
	color: #495463
}
.tiny-light [class*=fa] {
	color: #455e84
}
.tiny-light-alt p, .tiny-light-alt .tiny-text {
	color: #758698
}
.tiny-light-alt [class*=fa] {
	color: #758698
}
.tiny-info {
	background: #e6f6ff
}
.tiny-info p, .tiny-info .tiny-text {
	color: rgba(27, 171, 254, 0.9) !important
}
.tiny-info [class*=fa] {
	color: #1babfe
}
.tiny-success {
	background: rgba(0, 210, 133, 0.15)
}
.tiny-success p, .tiny-success .tiny-text {
	color: rgba(0, 210, 133, 0.9) !important
}
.tiny-success [class*=fa] {
	color: #00d285
}
.tiny-danger {
	background: rgba(255, 104, 104, 0.05)
}
.tiny-danger p, .tiny-danger .tiny-text {
	color: rgba(255, 104, 104, 0.9) !important
}
.tiny-danger [class*=fa] {
	color: rgba(255, 104, 104, 0.9)
}
.tinys {
	font-size: 12px;
	color: #758698
}
.tinys li:not(:first-child), .tinys .tiny li:not(:first-child) {
	margin-top: 7px
}
@media (min-width: 576px) {
	.tiny p, .tiny .tiny-text {
		font-size: 12px !important
	}
}
@media (min-width: 992px) {
	.tiny-md p, .tiny-md .tiny-text {
		font-size: 14px !important
	}
	.tiny-md [class*=fa] {
		font-size: 12px
	}
}

.modal-dialog {
    margin: 35px 16px;
    min-width: 280px
}

.modal-dialog-bottom {
    display: flex;
    align-items: flex-end;
    min-height: calc(100% - (.5rem * 2))
}

.modal.fade .modal-dialog-bottom {
    -webkit-transform: translate(0, 25%);
    transform: translate(0, 25%)
}

.modal.show .modal-dialog-bottom {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-content {
    position: relative;
    border-radius: 8px;
    padding: 6px 0;
    box-shadow: 0px 10px 55px 0px rgba(0,0,0,0.2);
    border: 0
}

.modal-close {
    position: absolute;
    top: -14px;
    right: -14px;
    display: inline-block
}

.modal-close .ti {
    font-size: 13px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    color: #495463;
    text-shadow: none;
    display: block;
    transition: all .4s;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3)
}

.modal .more-tigger {
    width: 32px;
    height: 32px
}

.modal .more-tigger .ti {
    line-height: 32px
}

.modal-backdrop {
    background: #090d1c
}

@media (min-width: 576px) {
    .modal-dialog {
        margin:35px auto
    }

    .modal-dialog-sm {
        min-width: 500px
    }

    .modal-dialog-md {
        min-width: 90%
    }

    .modal-dialog-lg {
        min-width: 540px
    }

    .modal-dialog-bottom {
        min-height: calc(100% - (1.75rem * 2))
    }
}

@media (min-width: 768px) {
    .modal-dialog-md {
        min-width:620px
    }

    .modal-dialog-lg {
        min-width: 740px
    }

    .modal-close {
        top: -22px;
        right: -22px
    }

    .modal-close .ti {
        font-size: 20px;
        height: 44px;
        width: 44px;
        line-height: 44px
    }
}

@media (min-width: 992px) {
    .modal-dialog-lg {
        min-width:880px
    }
}

.dialog-header {
    padding: 10px 18px 25px;
    border-bottom: 1px solid #e6effb
}

.dialog-body {
    padding: 15px 20px 16px;
    font-size: 13px
}

.dialog-body-in {
    padding-left: 18px;
    padding-right: 18px
}

.dialog-body-full {
    padding-left: 0;
    padding-right: 0
}

.dialog-body-lg {
    padding: 14px 18px 7px
}

.dialog-body p {
    font-weight: 400
}

.dialog-body .lead strong,.dialog-body .lead span {
    color: #2d4974
}

.dialog-body form:last-child {
    margin-bottom: 0
}

.dialog-body .copy-address {
    font-size: 13px
}

.dialog-title {
    color: #101a2d;
    font-weight: 500;
    padding-right: 40px;
    margin-bottom: 12px;
    font-size: 1.3em
}

.dialog-title .ti {
    font-size: 70%;
    color: #6e81a9
}

.dialog-title small {
    color: #758698
}

.dialog-title-action {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 2px;
    transform: translateY(-50%)
}

.dialog-subtitle {
    text-transform: uppercase;
    font-weight: 500;
    color: #6e81a9;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    font-size: 12px;
    margin-bottom: 10px
}

.dialog-subtitle-s2 {
    color: #495463;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500
}

.dialog-footer {
    padding: 15px 18px 0
}

@media (min-width: 480px) {
    .dialog-title-action {
        margin-top:0
    }

    .dialog-header {
        padding: 30px 40px 25px
    }

    .dialog-body {
        padding: 34px 45px 38px
    }

    .dialog-body-in {
        padding-left: 40px;
        padding-right: 40px
    }

    .dialog-body-lg {
        padding: 40px 55px
    }

    .dialog-body-md {
        padding: 30px 30px 34px
    }

    .dialog-footer {
        padding: 30px 40px
    }
}

@media (min-width: 768px) {
    .dialog-body {
        font-size:14px
    }

    .dialog-body-lg {
        padding: 40px 55px
    }

    .dialog-body .copy-address {
        font-size: 13px
    }
}

.status-icon {
    height: 90px;
    width: 90px;
    line-height: 82px;
    border: 2px solid;
    font-size: 36px
}

.icon-primary{
    border-color: #28a745;
    color: #28a745
}

.icon-secondary{
    border-color: #ffc100;
    color: #ffc100
}

.icon-danger  {
    border-color: #ff6868;
    color: #ff6868
}

ul > li {
	list-style: none;
}

tx-56{
	font-size: 56px;
}
.j-badge--badge-in:hover:after{
    border-right: .7rem solid #1A6B31;
}
.j-badge--secondary[href]:focus, .j-badge--secondary[href]:hover {
    color: #fff;
    background-color: #1A6B31;
}
	
.j-badge--badge-in:after{
    transition: .2s ease-in-out;
}
