.logo-joys::before {
  content: "\ea05";
}

.logo-tusd::before {
  content: "\ea01";
}

.logo-usdc::before {
  content: "\ea02";
}

.logo-dai::before {
  content: "\ea03";
}

.logo-pax::before {
  content: "\ea04";
}

.logo-aion::before {
  content: "\ea00";
}

.logo-ela::before {
  content: "\e9fe";
}

.logo-smart::before {
  content: "\e9ff";
}

.logo-ely::before {
  content: "\e9fd";
}

.logo-btcp::before {
  content: "\e9f0";
}

.logo-ebst::before {
  content: "\e9f1";
}

.logo-elf::before {
  content: "\e9f2";
}

.logo-hsr::before {
  content: "\e9f3";
}

.logo-iost::before {
  content: "\e9f4";
}

.logo-loom::before {
  content: "\e9f5";
}

.logo-mkr::before {
  content: "\e9f6";
}

.logo-nas::before {
  content: "\e9f7";
}

.logo-now::before {
  content: "\e9f8";
}

.logo-snm::before {
  content: "\e9f9";
}

.logo-synx::before {
  content: "\e9fa";
}

.logo-wan::before {
  content: "\e9fb";
}

.logo-brd::before {
  content: "\e9ea";
}

.logo-mana::before {
  content: "\e9eb";
}

.logo-mer::before {
  content: "\e9ec";
}

.logo-tix::before {
  content: "\e9ed";
}

.logo-xel::before {
  content: "\e9ee";
}

.logo-zen::before {
  content: "\e9ef";
}

.logo-dkk::before {
  content: "\e9e4";
}

.logo-gbp::before {
  content: "\e9e5";
}

.logo-eur::before {
  content: "\e9e6";
}

.logo-usd::before {
  content: "\e9e7";
}

.logo-ukg::before {
  content: "\e9e8";
}

.logo-lrc::before {
  content: "\e9e9";
}

.logo-powr::before {
  content: "\e9e3";
}

.logo-eng::before {
  content: "\e9d1";
}

.logo-ngc::before {
  content: "\e9df";
}

.logo-srn::before {
  content: "\e9e0";
}

.logo-wax::before {
  content: "\e9e1";
}

.logo-dcn::before {
  content: "\e9e2";
}

.logo-gbyte::before {
  content: "\e93c";
}

.logo-cnd::before {
  content: "\e94c";
}

.logo-miota::before {
  content: "\e9cf";
}

.logo-adt::before {
  content: "\e9d0";
}

.logo-via::before {
  content: "\e9cd";
}

.logo-myst::before {
  content: "\e9ce";
}

.logo-cfi::before {
  content: "\e9d2";
}

.logo-dsh::before {
  content: "\e9d3";
}

.logo-xlm::before {
  content: "\e9d4";
}

.logo-fsbt::before {
  content: "\e9d5";
}

.logo-atl::before {
  content: "\e9d6";
}

.logo-ath::before {
  content: "\e9d7";
}

.logo-arn::before {
  content: "\e9d8";
}

.logo-arc::before {
  content: "\e9d9";
}

.logo-apt::before {
  content: "\e9da";
}

.logo-aidoc::before {
  content: "\e9db";
}

.logo-amis::before {
  content: "\e9dc";
}

.logo-adst::before {
  content: "\e9dd";
}

.logo-300::before {
  content: "\e9de";
}

.logo-crpt::before {
  content: "\e9cc";
}

.logo-tip::before {
  content: "\e9cb";
}

.logo-zil::before {
  content: "\e9c0";
}

.logo-xnn::before {
  content: "\e9c2";
}

.logo-viu::before {
  content: "\e9c3";
}

.logo-veri::before {
  content: "\e9c4";
}

.logo-sc::before {
  content: "\e9c5";
}

.logo-rhoc::before {
  content: "\e9c6";
}

.logo-kcs::before {
  content: "\e9c7";
}

.logo-icx::before {
  content: "\e9c8";
}

.logo-ark::before {
  content: "\e9c9";
}

.logo-ae::before {
  content: "\e9ca";
}

.logo-nmr::before {
  content: "\e9bf";
}

.logo-vib::before {
  content: "\e9c1";
}

.logo-stx::before {
  content: "\e9bc";
}

.logo-sbtc::before {
  content: "\e9bd";
}

.logo-rcn::before {
  content: "\e9be";
}

.logo-1st::before {
  content: "\e900";
}

.logo-ada::before {
  content: "\e901";
}

.logo-adc::before {
  content: "\e902";
}

.logo-adx::before {
  content: "\e903";
}

.logo-aeon::before {
  content: "\e904";
}

.logo-amp::before {
  content: "\e905";
}

.logo-anc::before {
  content: "\e906";
}

.logo-ant::before {
  content: "\e907";
}

.logo-arch::before {
  content: "\e908";
}

.logo-ardr::before {
  content: "\e909";
}

.logo-aur::before {
  content: "\e90a";
}

.logo-banx::before {
  content: "\e90b";
}

.logo-bat::before {
  content: "\e90c";
}

.logo-bay::before {
  content: "\e90d";
}

.logo-bc::before {
  content: "\e90e";
}

.logo-bch::before {
  content: "\e90f";
}

.logo-bcn::before {
  content: "\e910";
}

.logo-bft::before {
  content: "\e911";
}

.logo-bnb::before {
  content: "\e912";
}

.logo-bnt::before {
  content: "\e913";
}

.logo-brk::before {
  content: "\e914";
}

.logo-brx::before {
  content: "\e915";
}

.logo-bsd::before {
  content: "\e916";
}

.logo-bta::before {
  content: "\e917";
}

.logo-btc::before {
  content: "\e918";
}

.logo-btcd::before {
  content: "\e919";
}

.logo-btg::before {
  content: "\e91a";
}

.logo-btm::before {
  content: "\e91b";
}

.logo-bts::before {
  content: "\e91c";
}

.logo-clam::before {
  content: "\e91d";
}

.logo-clo::before {
  content: "\e91e";
}

.logo-cloak::before {
  content: "\e91f";
}

.logo-cvc::before {
  content: "\e920";
}

.logo-dao::before {
  content: "\e921";
}

.logo-dash::before {
  content: "\e922";
}

.logo-dcr::before {
  content: "\e923";
}

.logo-dct::before {
  content: "\e924";
}

.logo-dent::before {
  content: "\e925";
}

.logo-dgb::before {
  content: "\e926";
}

.logo-dgd::before {
  content: "\e927";
}

.logo-dgx::before {
  content: "\e928";
}

.logo-dmd::before {
  content: "\e929";
}

.logo-dnt::before {
  content: "\e92a";
}

.logo-doge::before {
  content: "\e92b";
}

.logo-edg::before {
  content: "\e92c";
}

.logo-emc::before {
  content: "\e92d";
}

.logo-eos::before {
  content: "\e92e";
}

.logo-erc::before {
  content: "\e92f";
}

.logo-etc::before {
  content: "\e930";
}

.logo-eth::before {
  content: "\e931";
}

.logo-exp::before {
  content: "\e932";
}

.logo-fc2::before {
  content: "\e933";
}

.logo-fcn::before {
  content: "\e934";
}

.logo-fct::before {
  content: "\e935";
}

.logo-flo::before {
  content: "\e936";
}

.logo-frk::before {
  content: "\e937";
}

.logo-ftc::before {
  content: "\e938";
}

.logo-fun::before {
  content: "\e939";
}

.logo-game::before {
  content: "\e93a";
}

.logo-gbg::before {
  content: "\e93b";
}

.logo-gdc::before {
  content: "\e93d";
}

.logo-gemz::before {
  content: "\e93e";
}

.logo-gld::before {
  content: "\e93f";
}

.logo-gno::before {
  content: "\e940";
}

.logo-gnt::before {
  content: "\e941";
}

.logo-golos::before {
  content: "\e942";
}

.logo-grc::before {
  content: "\e943";
}

.logo-grs::before {
  content: "\e944";
}

.logo-gup::before {
  content: "\e945";
}

.logo-heat::before {
  content: "\e946";
}

.logo-hmq::before {
  content: "\e947";
}

.logo-icn::before {
  content: "\e948";
}

.logo-ifc::before {
  content: "\e949";
}

.logo-incnt::before {
  content: "\e94a";
}

.logo-ioc::before {
  content: "\e94b";
}

.logo-ixt::before {
  content: "\e94d";
}

.logo-jbs::before {
  content: "\e94e";
}

.logo-kmd::before {
  content: "\e94f";
}

.logo-kore::before {
  content: "\e950";
}

.logo-lbc::before {
  content: "\e951";
}

.logo-ldoge::before {
  content: "\e952";
}

.logo-lsk::before {
  content: "\e953";
}

.logo-ltc::before {
  content: "\e954";
}

.logo-lun::before {
  content: "\e955";
}

.logo-maid::before {
  content: "\e956";
}

.logo-mco::before {
  content: "\e957";
}

.logo-mint::before {
  content: "\e958";
}

.logo-mln::before {
  content: "\e959";
}

.logo-mona::before {
  content: "\e95a";
}

.logo-mrc::before {
  content: "\e95b";
}

.logo-msc::before {
  content: "\e95c";
}

.logo-msp::before {
  content: "\e95d";
}

.logo-mtl::before {
  content: "\e95e";
}

.logo-mtr::before {
  content: "\e95f";
}

.logo-mue::before {
  content: "\e960";
}

.logo-nano::before {
  content: "\e961";
}

.logo-nav::before {
  content: "\e962";
}

.logo-nbt::before {
  content: "\e963";
}

.logo-neo::before {
  content: "\e964";
}

.logo-neos::before {
  content: "\e965";
}

.logo-neu::before {
  content: "\e966";
}

.logo-nlg::before {
  content: "\e967";
}

.logo-nmc::before {
  content: "\e968";
}

.logo-note::before {
  content: "\e969";
}

.logo-nvc::before {
  content: "\e96a";
}

.logo-nxt::before {
  content: "\e96b";
}

.logo-oax::before {
  content: "\e96c";
}

.logo-ok::before {
  content: "\e96d";
}

.logo-omg::before {
  content: "\e96e";
}

.logo-omni::before {
  content: "\e96f";
}

.logo-opal::before {
  content: "\e970";
}

.logo-part::before {
  content: "\e971";
}

.logo-pay::before {
  content: "\e972";
}

.logo-piggy::before {
  content: "\e973";
}

.logo-pink::before {
  content: "\e974";
}

.logo-pivx::before {
  content: "\e975";
}

.logo-plbt::before {
  content: "\e976";
}

.logo-plr::before {
  content: "\e977";
}

.logo-plu::before {
  content: "\e978";
}

.logo-pot::before {
  content: "\e979";
}

.logo-ppc::before {
  content: "\e97a";
}

.logo-ptoy::before {
  content: "\e97b";
}

.logo-qcn::before {
  content: "\e97c";
}

.logo-qrk::before {
  content: "\e97d";
}

.logo-qtum::before {
  content: "\e97e";
}

.logo-rads::before {
  content: "\e97f";
}

.logo-rbies::before {
  content: "\e980";
}

.logo-rbt::before {
  content: "\e981";
}

.logo-rby::before {
  content: "\e982";
}

.logo-rdd::before {
  content: "\e983";
}

.logo-rep::before {
  content: "\e984";
}

.logo-rise::before {
  content: "\e985";
}

.logo-rlc::before {
  content: "\e986";
}

.logo-salt::before {
  content: "\e987";
}

.logo-sar::before {
  content: "\e988";
}

.logo-scot::before {
  content: "\e989";
}

.logo-sdc::before {
  content: "\e98a";
}

.logo-sia::before {
  content: "\e98b";
}

.logo-sjcx::before {
  content: "\e98c";
}

.logo-slg::before {
  content: "\e98d";
}

.logo-sls::before {
  content: "\e98e";
}

.logo-sngls::before {
  content: "\e98f";
}

.logo-snrg::before {
  content: "\e990";
}

.logo-snt::before {
  content: "\e991";
}

.logo-start::before {
  content: "\e992";
}

.logo-steem::before {
  content: "\e993";
}

.logo-storj::before {
  content: "\e994";
}

.logo-str::before {
  content: "\e995";
}

.logo-strat::before {
  content: "\e996";
}

.logo-swift::before {
  content: "\e997";
}

.logo-swt::before {
  content: "\e998";
}

.logo-sync::before {
  content: "\e999";
}

.logo-sys::before {
  content: "\e99a";
}

.logo-time::before {
  content: "\e99b";
}

.logo-tkn::before {
  content: "\e99c";
}

.logo-trig::before {
  content: "\e99d";
}

.logo-trst::before {
  content: "\e99e";
}

.logo-trx::before {
  content: "\e99f";
}

.logo-tx::before {
  content: "\e9a0";
}

.logo-ubq::before {
  content: "\e9a1";
}

.logo-unity::before {
  content: "\e9a2";
}

.logo-usdt::before {
  content: "\e9a3";
}

.logo-ven::before {
  content: "\e9a4";
}

.logo-vior::before {
  content: "\e9a5";
}

.logo-vnl::before {
  content: "\e9a6";
}

.logo-vpn::before {
  content: "\e9a7";
}

.logo-vrc::before {
  content: "\e9a8";
}

.logo-vtc::before {
  content: "\e9a9";
}

.logo-waves::before {
  content: "\e9aa";
}

.logo-wings::before {
  content: "\e9ab";
}

.logo-xai::before {
  content: "\e9ac";
}

.logo-xaur::before {
  content: "\e9ad";
}

.logo-xbs::before {
  content: "\e9ae";
}

.logo-xcp::before {
  content: "\e9af";
}

.logo-xdn::before {
  content: "\e9b0";
}

.logo-xem::before {
  content: "\e9b1";
}

.logo-xmr::before {
  content: "\e9b2";
}

.logo-xpm::before {
  content: "\e9b3";
}

.logo-xrp::before {
  content: "\e9b4";
}

.logo-xtz::before {
  content: "\e9b5";
}

.logo-xvg::before {
  content: "\e9b6";
}

.logo-xzc::before {
  content: "\e9b7";
}

.logo-ybc::before {
  content: "\e9b8";
}

.logo-zec::before {
  content: "\e9b9";
}

.logo-zeit::before {
  content: "\e9ba";
}

.logo-zrx::before {
  content: "\e9bb";
}
